includes:
- 'vendor/phpstan/phpstan-symfony/extension.neon'

parameters:
  level: 5
  tmpDir: '%rootDir%/../../../var/phpstan'
  paths:
  - '%rootDir%/../../../src'
  symfony:
    container_xml_path: '%rootDir%/../../../var/cache/dev/srcDevDebugProjectContainer.xml'

  ignoreErrors:
  - '/Parameter \#2 \$text of method TelegramBot\\Api\\BotApi::answerCallbackQuery\(\) expects null, string given\./'
  - '/Parameter \#1 \$chatId of method App\\Service\\TelegramReporter::editInlineKeyboardButtons\(\) expects string, int given\./'
