includes:
- 'vendor/phpstan/phpstan-symfony/extension.neon'

parameters:
  level: 5
  tmpDir: '%rootDir%/../../../var/phpstan'
  paths:
  - '%rootDir%/../../../src'
  symfony:
    container_xml_path: '%rootDir%/../../../var/cache/dev/srcDevDebugProjectContainer.xml'
